<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: beige;
        }
    </style>
</head>
<body>
    
    
    <h1>File Uploaded and file sent sucessfully !!!</h1>
    <div class="container text-center mt-5">
        
        <h3><a href="{% url 'upload_file' %}" class="link">Upload Another File</a></h3>
    </div>


</body>
</html>